/* Base styles for the exam activity */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background-color: #121518;
  color: #f5f5f7;
  padding: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 400px;
  height: 300px;
  background-color: #12219a;
  position: relative;
}

.corner-box {
  position: absolute;
  width: 180px;
  height: 80px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px;
}

.corner-top-left {
  top: 0;
  left: 0;
  justify-content: flex-start;
}

.corner-top-right {
  top: 0;
  right: 0;
  justify-content: flex-end;
}

.corner-bottom-left {
  bottom: 0;
  left: 0;
}

.corner-bottom-right {
  bottom: 0;
  right: 0;
  justify-content: flex-end;
}

.shape-square {
  width: 50px;
  height: 50px;
  background-color: #70ccdb; /* square */
  margin: 15px;
}

.shape-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #db5ead; /* circle */
  margin: 15px;
}


